.hover-tile-outer {
  $hover-tile-height: 100%; //10em;
  $hover-title-opacity: 0.9;


  // background-position: bottom;
  // background-size: cover;
  // background: url("https://raw.github.com/Magnus-G/Random/master/mountains.png");

  // background-color: #BEB56E;
  padding: 0 !important;
  // border: 1px solid $base-border-color;
  // height: $hover-tile-height;
  // margin-bottom: $base-line-height;
  cursor: pointer;
  
  // @include media($medium-screen) {
  //   width: 40%;
  // }

  .hover-tile-container {

    position:relative;
    // height: $hover-tile-height;
    overflow: hidden;
    // display: block;
  
    background-position: bottom;
    background-size: cover;    
    &:after{
      @include maintain-aspect-ratio;
    }
  }

  .hover-tile-container:hover > .hover-tile {
    &.hover-tile-visible{ opacity: 0}
    &.hover-tile-hidden{  opacity: $hover-title-opacity}
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    // padding: 1em 1.5em;
    padding: 0;
  }

  .hover-tile-visible {
    opacity: 1;

    background-position: bottom;
    background-size: cover;    
    color: transparentize(white, .3);
    font-size: 2em;
    font-weight: 200;  
    padding-top: 2em;
    text-align: center;

    // display: visible;
  }

  .hover-tile-hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // @include transform(translate(0, -100%));
    opacity: 0;
    background: transparentize($taglit-blue, .2);
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }
}


.view-this-story{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  width: 50%;
  height: 50%;
  margin: auto;
}