
// Have to expose var bc of buffer that is needed
$centered-navigation-height-large: 300px;

header.centered-navigation {

  // $centered-navigation-padding: 1em;
  $centered-navigation-base-color: white;
  $centered-navigation-background: $taglit-blue;
  $centered-navigation-color: transparentize($centered-navigation-base-color, 0.3);
  $centered-navigation-color-hover: $centered-navigation-base-color;
  $centered-navigation-height: 60px;
  $centered-navigation-background: $taglit-blue;
  $centered-navigation-border-bottom-width: 3px;
  $centered-navigation-side-section-width: 20%;


  background-color: $centered-navigation-background;
  border-bottom: $centered-navigation-border-bottom-width solid transparentize(white, 0.2);
  font-family: Lato, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: bold;
  color: $centered-navigation-color;
  height: $centered-navigation-height-large;
  width: 100%;
  z-index: 9999;
  position: fixed;
  @include transition (height 0.3s ease-in-out);

  &.smaller{
    height: $centered-navigation-height;

    ul.centered-navigation-panel{
      width: auto;
      padding: 0;

      .nav-story-count{
        font-size: 1.6em;
        font-weight: 300;
      }

      @include media(em(550)) {
        li.nav-story-count, li.nav-headline, li.nav-learn-more{
          display: none;
        } 
      }
      @include media(em(1060)) {
        li {
          display: inline-block !important;
        }
      }
    }
    .centered-navigation-wrapper{
      // max-width: em(1280);
      max-width: 100%;
      margin: 0;
    }
    .centered-navigation-menu a{
      line-height: $centered-navigation-height;
    }    

    ul.centered-navigation-submenu{
      top: 1.5em;
      right: 3em;
    }
    .centered-navigation-buffer{
      height: $centered-navigation-height;
    }
  }

  .centered-navigation-wrapper{
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
    text-align: center;    
    height: 100%;
    @include transition (all 0.3s ease-in-out);
    // @include transition-delay(4.5s);
  }

  .centered-navigation-logo{
    display: inline-block;    
    float: left;
    text-align: left;
    height: 100%;
    width: $centered-navigation-side-section-width;
    // max-width: 25%;
    // line-height: $centered-navigation-height;
    // padding-left: $centered-navigation-padding;

    img{
      vertical-align: middle;
      max-height: 100%;
      opacity: .9;
      padding: 0;
      @include transition (all 0.3s ease-in-out);
    }
  }

  // Main panel
  ul.centered-navigation-panel{
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    z-index: 99999;
    height: 100%;
    width: 280px;
    color: white;
    padding: 3em 0;
    @include transition (all 0.3s ease-in-out);
    

    li{
      display: none;
      z-index: 9999;
      line-height: $centered-navigation-height;

      &.nav-story-count{
        font-size: 4.6em;
      } 
      &.nav-follow-up a{
        @extend button;
      }

      @include media(em(550)) {
        line-height: 1.3;
        display: block;

        &.nav-follow-up{
          display: block;
        }
        &.nav-story-count, &.nav-headline, &.nav-learn-more{
          display: block;
        }        
      }
      @include media(em(1060)) {
        &.nav-headline{
          font-size: 1.65em;
          font-weight: 900;
        }
        &.nav-follow-up{
          button {
            width: 100%;
            margin: 0.2em 0;
          }
        }
        &.nav-learn-more{
          font-weight: 900;
        }
      }

    }
  }

  // Localization menu
  .centered-navigation-menu{
    display: inline-block;
    float: right;
    text-align: right;
    height: 100%;
    width: $centered-navigation-side-section-width;
    @include transition (all 0.01s $ease-out-quart);

    a{
      line-height: $centered-navigation-height-large;
    }
    span.taglit{
      text-transform: uppercase;
      font-size: 1.3em;
      vertical-align: top;
    }
    img{
      max-height: 100%;
      line-height: 0;
    }
    // Mechanics for showing the dropdown
    &:hover > .centered-navigation-submenu {
      display: block;
    }
  }
    // Localization submenu
  ul.centered-navigation-submenu{
    display: none;
    background-color: $centered-navigation-background;
    border-radius: $base-border-radius;
    padding: 35px;
    position: relative;
    top: -5em;
    right: -2.5em;

    a{
      line-height: $centered-navigation-height / 2;
    }     
    li {
      @include clearfix;
      &:hover span.locale-flag{
        opacity: 1;
      }
    }
    span.locale-name{
      float: left;
    }
    span.locale-flag{
      @include transition (all 0.3s ease-in-out);
      float:right;
      opacity: 0.7;
    }    
  }  

  // Drawer 
  .centered-navigation-drawer{
    &.opened{
      max-height: 300px;
      height: 300px
    }
    max-height: 0;
    height: 0;
    overflow-y: hidden;
    width: 100%;

    background-color: $centered-navigation-background;
    border-bottom: $centered-navigation-border-bottom-width solid transparentize(white, 0.2);
 
    @include transition (all 0.3s $ease-out-quart);

    .centered-navigation-drawer-wrapper{
      @include outer-container;
      @include clearfix;
      position: relative;
      z-index: 999;
      text-align: left;    
      height: 100%;
      max-width: 45em;
    }

  }

}

// This cancels out the fixed position header from displacing images at first
.centered-navigation-buffer{
  height: $centered-navigation-height-large;
  display: block;
}
