
$nav-base-color: white;
$nav-background: $taglit-blue;
$nav-color: transparentize($nav-base-color, 0.05);
$nav-color-hover: $nav-base-color;
$nav-background: $taglit-blue;
$nav-border-width: 3px;
$nav-border-color: transparentize(white, 0.2);
$nav-side-section-width: 30%;
$nav-side-section-width-small: 20%;

$nav-height-minimized: 60px;
$nav-height-expanded: 300px;



// BACKGROUND
%nav-bg{
  background-color: $nav-background;
  border-bottom: $nav-border-width solid $nav-border-color;
  font-family: $header-font-family;
  color: $nav-color;
}

// LAYOUT
%nav-layout{
  height: $nav-height-expanded;
  width: 100%;
  z-index: 999;
  position: fixed;
  overflow:hidden;

  // @include clearfix;    

  // RESIZING
  &.smaller{
    height: $nav-height-minimized;
    line-height: $nav-height-minimized;

    .nav-container{
      max-width: 100%;
    }
    .nav-logo{
      text-align: left;
      // max-width: 80px;
    }
    .nav-logo-wrapper{
      padding: 0.5em 0;
    }
    .nav-panel{
      width: 100%;
    }
  }

  .nav-container{
    @include outer-container;
    max-width: em(800);
    padding-left: 2em;
    padding-right: 2em;

    // position: relative;
    // margin: auto;
  }

  .nav-logo,
  .nav-panel{
    z-index: 8888;
    text-align: center;
    height: 100%;
  }

  .nav-logo,
  .nav-panel{
    @include span-columns(12);
  }
  @include media(em(920)) {
    .nav-logo,
    .nav-panel{
      @include span-columns(6);
    }    
  }  

  .nav-locale-menu{
    @include position(absolute, 0 0 0 auto);
  }  

  .nav-container,
  .nav-logo-wrapper,
  .nav-panel-wrapper,
  .nav-locale-menu-wrapper{
    width: 100%;
    height: 100%;  
  }
  .nav-logo-wrapper{
    padding: 2.3em 0;
  }


  // .nav-logo-wrapper,
  .nav-logo-wrapper img{
    height: 100%;
    width: auto;
  }

  .nav-panel-wrapper{
    padding: 17% 0;
  }

  // .nav-panel{
  // }
  // .nav-logo{
  //   @include position(absolute, 0 auto 0 0);
  //   padding: 3em 0 3em 3em;
  //   width: 100%;

  // }

  // .nav-logo-wrapper,
  // .nav-locale-menu-wrapper{
  //   position: relative;
  // }
  // .nav-logo-wrapper{
  //   text-align: left;
  // }
  // .nav-locale-menu-wrapper{
  //   text-align: right;


  //   .nav-locale-menu-link{
  //     // @include vertical-align;
  //     position: relative;
  //   }
  //   span.taglit{
  //     line-height: $nav-height-minimized;
  //     vertical-align: super;
  //   }
  //   padding-right: 10px;
  //   padding-top: 10px;
  // }  
  // .nav-logo{}
  // .nav-panel-wrapper{
  //   @include vertical-align;
  //   text-align: center;
  //   > div{
  //     vertical-align: middle;
  //   }
  // }
}



// STYLING
%nav-styling{
  // .nav-container{
  @include transition (height 0.3s ease-in-out);
  // }

  .nav-logo,
  .nav-locale-menu-link,
  .nav-panel-wrapper {
    @include transition (all 0.3s ease-in-out);

  }


  .nav-container,
  .nav-panel,
  .nav-panel-wrapper {
    // max-height: 100%;
    // @include transition (all 0.3s ease-in-out);
  }
  .nav-follow-up a{
    @extend button;
  }
}


// RESIZING 
%nav-resizing{

  .nav-panel{
    .nav-story-count,
    .nav-headline,
    .nav-follow-up,
    .nav-learn-more {
      min-width: 100%;
      // width: 100%;
      opacity: 0;

      @include media(em(920)) {
        opacity: 1;
      }
    }

  }
  .nav-locale-menu-link img{
    padding: 5px 10px 0 0;
  }  

  &.smaller{
    height: $nav-height-minimized;
    line-height: $nav-height-minimized;

    .nav-container{
      max-width: 100%;
    }
    .nav-locale-menu-link img{
      height: $nav-height-minimized / 2;
      padding: 5px 10px 0 0;
    }
    .nav-locale-menu-wrapper{
      // padding-right: 0;
      padding-top: 0;
    }
    .nav-logo{
      padding: 0;
      display: inline-block;
    }
    .nav-panel-wrapper{
      padding: 0 0;
    }
    .nav-panel{
      @include position(absolute, 0 0 0 0);
      margin: auto;
      display: inline-block;
      width: auto;
      // .nav-panel-wrapper{
      //   max-height: $nav-height-minimized;
      .nav-follow-up{
        vertical-align: initial !important;
      }
      .nav-story-count,
      .nav-headline,
      .nav-follow-up,
      .nav-learn-more {
        opacity: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: $nav-height-minimized;

        @include media(em(960)) {
          opacity: 1;
          // min-width: 100%;
          min-width: 0;
        }
      }
    }
  }
}

// DRAWER
%nav-drawer{
  .nav-drawer{
    max-height: 0;
    height: 0;
    overflow-y: hidden;
    width: 100%;
    position: fixed;

    @extend %nav-bg;
    @include transition (all 0.3s $ease-out-quart);

    &.opened{
      max-height: 400px;
      height: 400px;      
    }

    .nav-drawer-wrapper{
      @include outer-container;
      @include clearfix;
      position: relative;
      z-index: 999;      
      max-width: 45em;
      padding: 5em 0;

      line-height: 1em;
      h1{
        font-weight: 700;
        font-size: 2em;
      }
      h3 {
        font-weight: 700;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
      }
      p{
        // padding: 0.2em 0;
      }
    }
  }
  .nav-drawer-wrapper{}
  .nav-drawer-wrapper-close{
    position: absolute;
    right: 2em;
    bottom: 2em;    
  }
}

// LOCALE MENU
%nav-locale-menu{
  .nav-locale-menu{
  }
  .nav-locale-menu-link{
    .taglit{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5em;
      padding-right: 1em;
    }
    img{
      height: 30px;
      @include transition(all 0.3s ease-in-out)
    }
  }

  // Localization menu
  .nav-locale-menu{
    z-index: 9999;
    // display: inline-block;
    // float: right;
    // text-align: right;
    // height: 100%;
    // width: $nav-side-section-width;
    // max-width: $nav-side-section-width;
    @include transition (all 0.01s $ease-out-quart);

    // a{
    //   line-height: $nav-height-expanded;
    // }
    // span.taglit{
    //   text-transform: uppercase;
    //   font-size: 1.3em;
    //   vertical-align: top;
    // }
    // img{
    //   max-height: 100%;
    //   line-height: 0;
    // }
    


    // Mechanics for showing the dropdown
    .nav-locale-menu-link:hover > .nav-locale-menu-submenu {
      display: block;
    }
  }
    // Localization submenu
  ul.nav-locale-menu-submenu{

    display: none;
    // display: block;

    z-index: 9999;
    width: 12em;

    background-color: rgb(0, 157, 220);
    // background-color: $nav-background;
    border-radius: $base-border-radius;
    padding: 35px;
    // position: relative;
    position: absolute;
    // top: -5em;
    // right: -2.5em;
    // top: -0.1em;
    right: 0;

    a{
      // line-height: $nav-height-expanded / 2;
    }     
    li {
      @include clearfix;
      &:hover span.locale-flag{
        opacity: 1;
      }
    }
    span.locale-name{
      float: left;
    }
    span.locale-flag{
      @include transition (all 0.3s ease-in-out);
      float:right;
      opacity: 0.7;
    }    
  }  
}


// ============
// ACTUAL NAV
// ============
header.nav{
  @extend %nav-bg;
  @extend %nav-layout;
  @extend %nav-styling;
  @extend %nav-drawer;
  @extend %nav-resizing;
  @extend %nav-locale-menu
}


// This code is really bad #REFACTOR
.locale-en{
  .nav:not(.smaller){
    .nav-story-count h1{
      font-size: 5em;
      font-weight: 300;
      line-height: 75px;
    }
    .nav-headline h5{
      font-size: 1.25em;
      font-weight: 800;
      line-height: 40px;
    }
    .nav-follow-up a{
      width: 268px;
    }
    .nav-learn-more{
      font-size: 1.25em;
    }
    .smaller{
      .nav-story-count h1{
        font-size: 5em;
        font-weight: 300;
        line-height: 75px;
      }
      .nav-headline h5{
        font-size: 1.25em;
        font-weight: 800;
        line-height: 40px;
      }
      .nav-follow-up a{
        width: 268px;
      }
      .nav-learn-more{
        font-size: 1.25em;
      }    
    }
  }
}
.locale-es{
  .nav:not(.smaller){
    .nav-story-count h1{
      font-size: 5em;
      font-weight: 300;
      line-height: 75px;
    }
    .nav-headline h5{
      font-size: 1.23em;
      font-weight: 800;
      line-height: 40px;
    }
    .nav-follow-up a{
      width: 268px;
    }
    .nav-learn-more{
      font-size: 1.25em;
    }
    .smaller{
      .nav-story-count h1{
        font-size: 5em;
        font-weight: 300;
        line-height: 75px;
      }
      .nav-headline h5{
        font-size: 1.25em;
        font-weight: 800;
        line-height: 40px;
      }
      .nav-follow-up a{
        width: 268px;
      }
      .nav-learn-more{
        font-size: 1.25em;
      }    
    }
  }
}
.locale-fr{
  .nav:not(.smaller){
    .nav-story-count h1{
      font-size: 5em;
      font-weight: 300;
      line-height: 75px;
    }
    .nav-headline h5{
      font-size: 1.23em;
      font-weight: 800;
      line-height: 40px;
    }
    .nav-follow-up a{
      width: 268px;
    }
    .nav-learn-more{
      font-size: 1.25em;
    }
    .smaller{
      .nav-story-count h1{
        font-size: 5em;
        font-weight: 300;
        line-height: 75px;
      }
      .nav-headline h5{
        font-size: 1.25em;
        font-weight: 800;
        line-height: 40px;
      }
      .nav-follow-up a{
        width: 268px;
      }
      .nav-learn-more{
        font-size: 1.25em;
      }    
    }
  }
}
.locale-iw{
  .nav:not(.smaller){
    .nav-story-count h1{
      font-size: 5em;
      font-weight: 300;
      line-height: 75px;
    }
    .nav-headline h5{
      font-size: 2.95em;
      font-weight: 800;
      line-height: 50px;
    }
    .nav-follow-up a{
      width: 268px;
    }
    .nav-learn-more{
      font-size: 1.25em;
    }
    .smaller{
      .nav-story-count h1{
        font-size: 5em;
        font-weight: 300;
        line-height: 75px;
      }
      .nav-headline h5{
        font-size: 1.25em;
        font-weight: 800;
        line-height: 40px;
      }
      .nav-follow-up a{
        width: 268px;
      }
      .nav-learn-more{
        font-size: 1.25em;
      }    
    }
  }
}
.locale-pt{
  .nav:not(.smaller){
    .nav-story-count h1{
      font-size: 5em;
      font-weight: 300;
      line-height: 75px;
    }
    .nav-headline h5{
      font-size: 1.23em;
      font-weight: 800;
      line-height: 40px;
    }
    .nav-follow-up a{
      width: 268px;
    }
    .nav-learn-more{
      font-size: 1.25em;
    }
    .smaller{
      .nav-story-count h1{
        font-size: 5em;
        font-weight: 300;
        line-height: 75px;
      }
      .nav-headline h5{
        font-size: 1.25em;
        font-weight: 800;
        line-height: 40px;
      }
      .nav-follow-up a{
        width: 268px;
      }
      .nav-learn-more{
        font-size: 1.25em;
      }    
    }
  }
}
.locale-ru{
  .nav:not(.smaller){
    .nav-story-count h1{
      font-size: 5em;
      font-weight: 300;
      line-height: 75px;
    }
    .nav-headline h5{
      font-size: 1.37em;
      font-weight: 800;
      line-height: 40px;
    }
    .nav-follow-up a{
      width: 268px;
    }
    .nav-learn-more{
      font-size: 1.25em;
    }
    .smaller{
      .nav-story-count h1{
        font-size: 5em;
        font-weight: 300;
        line-height: 75px;
      }
      .nav-headline h5{
        font-size: 1.25em;
        font-weight: 800;
        line-height: 40px;
      }
      .nav-follow-up a{
        width: 268px;
      }
      .nav-learn-more{
        font-size: 1.25em;
      }    
    }
  }
}

.nav-buffer{
  height: $nav-height-expanded;
  display: block;
  // @extend %nav-bg;

  // background-color: rgba(0,158,220,0);
  @include linear-gradient(0deg, transparent, $taglit-blue);

  // @include filter-gradient(#009edc, #009edc, vertical);
  
  // @include filter-gradient(#009edc, #009edc, vertical);
  // @include background-image(linear-gradient(top, rgba(0,158,220,1) 0%, rgba(0,158,220,0) 100%));
  // @include background-image(linear-gradient(top, rgba(0,158,220,0) 0%, rgba(0,158,220,1) 100%));  
}

