%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: 5px; //$base-border-radius;
  color: $taglit-blue;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .3em 0.9em;
  text-decoration: none;

  // border: 0.2em solid transparentize($taglit-blue, 0.1);
  border: 0.2em solid transparent;

  &:hover {
    border: 0.2em solid white;
    background-color: $hover-button-color;
    color: white;
  }
}
