// @import "masonry/basic";
// @import "masonry/centered";
// @import "masonry/fluid";
// @import "masonry/gutters";
// @import "masonry/infinitescroll";
// @import "masonry/right-to-left";
// @import "masonry/transitions";

@import "normalize-rails";

$base-body-color: #eee;

@import "bourbon";
@import 'base/grid-settings';
@import "neat";
@import "base/base";

@import "mixins/maintain-aspect-ratio";
@import "refills/navigation";

@import "instances/hashtag";
@import "instances/media-card";
@import "instances/instagram-media";

body{
  background: #fff;
}

.hidden{
  visibility: hidden;
}

footer{
  height: 500px;
}

#infscr-loading{
  display: none;
  height: 0;
  width: 0;
}