
-# #header-form.centered-navigation-drawer
-#   .centered-navigation-drawer-wrapper

-#     = form_tag '' do |f|
-#       = label_tag :first_name, t('form.first_name')
-#       = text_field_tag :first_name
      
-#       = label_tag :last_name, t('form.last_name')
-#       = text_field_tag :last_name
      
-#       = label_tag :photo, t('form.photo')
-#       = text_field_tag :photo
      
-#       = label_tag :choose_file, t('form.choose_file')
-#       = text_field_tag :choose_file
      
-#       = label_tag :story, t('form.story')
-#       = text_field_tag :story
      
-#       = label_tag :terms, t('form.terms')
-#       = text_field_tag :terms
      
-#       %button 'submit'